:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  background-image: linear-gradient(
    45deg,
    #EEEEEE,
    #E0E0E0,
    #BDBDBD
  );
  min-height: 100vh;
}

/* Gradient background with waves */
/* CODE BY Bárbara Rodríguez https://codepen.io/baarbaracrr/pen/KKovmGb */
#index-body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(62, 64, 202) 3%, rgba(55, 140, 231, 1) 38%, rgba(103, 198, 227, 1) 68%, rgba(223, 245, 255, 1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  min-width: 320px;
  min-height: 100vh;
  
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  0% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}



footer {
  background-image: linear-gradient(
    45deg,
    rgb(21,75,16),
    rgb(16,21,75),
    rgb(75,16,21)
  );
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 3rem;
  z-index: 999;
  left: 0; /* Lisätty */
  right: 0; /* Lisätty */
}


footer p {
  margin-top: 5px;
}

#herbs {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -47%;
  margin-top: -30px;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* CSS: Muotoilu */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.form-container {
  margin-bottom: 10rem;
}

.form-container p{
  margin-bottom: 0;
}

.form-container form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-container label {
  margin-bottom: 5px;
  display: block;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container input[type="submit"] {
  background-color: #009879;
  color: #fff;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #007863;
}

.hidden {
  display: none;
}

/* Hero code from https://codepen.io/nxworld/pen/OVMzaP */

* {
	margin: 0;
	padding: 0;
}
.hero {
  height: 100vh;
  background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://picsum.photos/g/2000/1200?image=443) 0 0 / cover no-repeat;
  background-position: center;
  background-size: cover;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: center; }
	50%  { background-position: center; }
	100% { background-position: center; }
}
@keyframes gradientAnimation {
	0%   { background-position: center; }
	50%  { background-position: center; }
	100% { background-position: center; }
}


h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 600 46px/1 'Open Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  animation: textParallax 40s linear infinite;
  z-index: 1;
}
h4 span {
	display: block;
	margin-top: 1em;
	font-size: 40px;
	font-weight: 300;
}

.parallax {
  background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://picsum.photos/g/2000/1200?image=443) 0 0 / cover no-repeat;
  min-height: 800px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

h5 {
  margin-top: 12rem;
  font-size: 3.2em;
}

/* Etusivun Info boksi */ 
.info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  max-height: 9rem;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  margin-left: auto;
  margin-right: 25%;
  margin-top: 6rem; 
}

/* About sivun info */
.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* BACKGROUND BY https://codepen.io/nxworld/pen/OVMzaP */
.about-info {
  width: 25rem;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 20rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  background: linear-gradient(45deg, rgba(255, 175, 189, 0.7), rgba(100, 216, 243, 0.7), rgba(234, 236, 198, 0.7), rgba(245, 146, 176, 0.7), rgba(52, 219, 216, 0.7)) 0 0 / 1000% no-repeat, url(https://picsum.photos/g/2000/1200?image=443) 0 0 / cover no-repeat;
  animation: gradient 15s ease infinite;

}

.about-info table {
  margin-left: 50px;
  color: white;
}

.map-image-container {
  margin-top: 10rem;
  margin-left: 5rem;
}

.map-image {
  width: 25rem;
  height: 20rem;
  border: 1px solid black;
  object-fit: cover;
  display: block;
  background-color: #eee;
  border-radius: 10px; 
}

h6 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.banner {
  width: 60%;
  height: 28rem;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
}

.banner img {
  width: 100%;
  max-height: 28rem;
}

.bannerProfile {
  width: 60%;
  max-height: 28rem;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
}

.bannerProfile img {
  width: 100%;
  max-height: 28rem;
}


#app {
  max-width: 65%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



main {
  background-image: url('img/diary.jpg');
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 60%;
  height: 26rem;
  border: 2px solid rgb(97, 65, 65);
  position: relative;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  color: black;
  height: auto;
  max-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
}


.info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  max-height: 9rem;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  margin-left: auto;
  margin-right: 25%;
  margin-top: 6rem; 
}


#heart {
  position: absolute;
  width: 100px;
  left: 90%;
  top: -30px;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

h3 {
  border-bottom: 1px solid rgb(75, 16, 21);
  margin-top: 1rem;
}

h3 img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

button.del, button.check, button.update {
  padding: 0.3rem 0.6rem;
  margin: 0;
}

button.update {
  background-color: #f2e49448;
}

button.del {
  background-color: #f2a29448;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    rgb(21,75,16),
    rgb(16,21,75),
    rgb(75,16,21)
  );
  opacity: 0.80;
}

/* Navigaatiolista tyylittely */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(16, 21, 75);
  width: 100%;
  text-align: center;
  position: fixed; /* Kiinni yläpalkissa */
  top: 0; /* Kiinni yläpalkissa */
  left: 0; /* Kiinni reunoissa */
  right: 0; /* Kiinni reunoissa */
  height: 50px;
  z-index: 998; /* Alhainen z-indeksi */
}

li {
  display: inline-block;
  vertical-align: middle;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

li a:hover:not(.active) {
  background-color: rgb(43, 6, 9);
}

.active {
  background-color: rgb(75,16,21);
}


/* Käyttäjä loggaantunut tyylittely */

.user {
  position: fixed; /* Kiinni navbarissa */
  top: 15px;
  right: 6rem; 
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  z-index: 999;
  margin-top: -14px;
}

#name {
  font-weight: bolder;
}

.logout {
  display: inline-block;
  vertical-align: middle;
}

.logout a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/* Diary Entries Taulukon tyylittey */
/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
}

.styled-table thead tr {
  background-color: rgb(21,75,16);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    margin: 0;
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.styled-table tbody tr:hover {
  background-color: #68535358;
  cursor: pointer;
}

.entry-table,
.activity-table,
.measurements-table {
  border-collapse: collapse;
  margin: 25px auto; 
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.measurements-table {
  margin-bottom: 100px;
}


.entry-table thead tr,
.activity-table thead tr,
.measurements-table thead tr {
  background-color: rgb(21,75,16);
  color: #ffffff;
  text-align: left;
}

.entry-table th,
.activity-table th,
.measurements-table th,
.entry-table td,
.activity-table td,
.measurements-table td {
    padding: 12px 15px;
}

.entry-table tbody tr,
.activity-table tbody tr,
.measurements-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.entry-table tbody tr:nth-of-type(even),
.activity-table tbody tr:nth-of-type(even),
.measurements-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.entry-table tbody tr:last-of-type,
.activity-table tbody tr:last-of-type,
.measurements-table tbody tr:last-of-type {
  border-bottom: 3px solid rgb(21,75,16);
}

.entry-table tbody tr.active-row,
.activity-table tbody tr.active-row,
.measurements-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(21,75,16);
}

.entry-table tbody tr:hover,
.activity-table tbody tr:hover,
.measuremens-table tbody tr:hover {
  background-color: #68535358;
  cursor: pointer;
}

#entries {
  background-image: linear-gradient(
    45deg,
    #EEEEEE,
    #E0E0E0,
    #BDBDBD
  );
}

#activities {
  background-image: linear-gradient(
    45deg,
    #EEEEEE,
    #E0E0E0,
    #BDBDBD
  );
  margin-top: 70px;
  border: 1px solid black;
}

#measurements {
  background-image: linear-gradient(
    45deg,
    #EEEEEE,
    #E0E0E0,
    #BDBDBD
  );
  margin-top: 70px;
  border: 1px solid black;
}


.info_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
}

.delete_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
}



.forms {
  display: flex;
  gap: 30px;
}

/* Form Selector */
#formSelector,
#updateFormSelector {
  width: 18rem;; 
  height: 2rem;
  padding-left: 5px;
  color: white;
}

#formSelector {
  background-color: #00008B;
}

#updateFormSelector {
  background-color: rgb(75,16,21);
}

#formSelector option {
  font-size: 16px; 
  color: #CCCCCC;
}

#updateFormSelector option {
  font-size: 16px; 
  color: #FFFFFF;
}


/* Formin tyylittely */
form {
  background-color: rgb(21,75,16);
  color: #ffffff;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  width: 300px;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 55px 0 20px rgba(0, 0, 0, 0.15);
}
.forms-container {
  display: block;
  width: 100%;
  text-align: center;
}

.forms-container form {
  max-width: 400px; /* Muuta tarpeidesi mukaan */
  margin: 0 auto;
}

.forms-container label {
  display: block;
  text-align: center;
}

.forms-container input[type="text"],
.forms-container input[type="number"],
.forms-container input[type="date"],
.forms-container textarea {
  width: calc(100% - 40px); /* Muuta tarpeidesi mukaan */
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.forms-container input[type="submit"] {
  width: 100%;
  margin-top: 10px;
}

.entry-form,
.activity-form,
.measurements-form {
  width: 300px; 
  margin-left: auto;
  margin-right: auto;
}

form.addform {
  min-width: 430px;
  background-image: url("img/profile.jpg"); /* Photo by Leone Venter on Unsplash ttps://unsplash.com/photos/magic-keyboard-beside-mug-and-click-pen-VieM9BdZKFo */
  background-size: cover;
  background-position: center;
  color: black;
  margin-bottom: 100px;
}

.addform input[type="text"] {
  margin-top: 20px; 
}

.addform input[type="text"], 
.addform input[type="password"],
.addform input[type="email"] {
  margin-right: 120px; 
}

.addform label {
  display: inline-block;
  width: 100px; 
  text-align: right;
  margin-right: 10px;
}



/* VALIDOINTI */


.create_user_form input {
  border-left: 3px solid;
}
.create_user_form input:focus {
  background-color: rgb(223, 223, 223);
}

.create_user_form input:optional {

}
.create_user_form input:required {
  /* border-left-color: red; */
}
.create_user_form input:invalid {
  border-left-color: orange;

}
.create_user_form input:valid {
  border-left-color: greenyellow
}

/* Koodiesimerkin tyylittely */
pre {
  background-color: aliceblue;
}

/* Päiväkirjamerkintä lisätty ilmoitus */
.notification {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(75,16,21);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Piilotetaan aluksi */
}


/* Käyttäjän tervehdys ilmoitus */ 
.notificationWelcome {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 9999;
  overflow: hidden; 
}

.notificationWelcome::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgb(21,75,16), rgb(16,21,75), rgb(75,16,21));
  z-index: -1;
}

/* Käyttäjätunnus luotu ilmoitus */ 
.notificationUserCreated {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(75,16,21);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Piilotetaan aluksi */
}

.notificationUserUpdated {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(75,16,21);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Piilotetaan aluksi */
}

/* Aktiviteetti lisätty ilmoitus */ 
.notificationActivity {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(75,16,21);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Piilotetaan aluksi */
}

.notificationMeasurement {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(75,16,21);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none /* Piilotetaan aluksi */
}

.loginResponse {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(45, 212, 30);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
}

.show-notification {
  display: block !important;
}


/* Jos käyttäjä syöttää tunnuksen väärin niin suoritetaan shake animaatio*/
@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 1.8s ease;
}

@media screen and (max-width: 800px) {

  :root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 10px;
  
  }

  footer p {
    font-size: 10px;
    margin-top: -5px;
  }

  .notificationWelcome {
    top: 20%;
    left: 50%;
    padding: 20px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999;
    overflow: hidden; 
    position: fixed;
  }

  /* Etusivu */

  h2 {
    margin-top: 5rem;
  }

  .info {
    background-color: white;
    padding: 5px;
    height: auto;
    max-height: 14rem;
    font-size: 14px;
    width: 90%; /* Muutettu, jotta leveys skaalautuu paremmin pienemmille näytöille */
    color: black;
    margin: 6rem auto 0; /* Yksinkertaistettu marginaalien asettelu */
  }

  main {
    width: 90%; /* Muutettu, jotta leveys skaalautuu paremmin pienemmille näytöille */
    height: 26rem;
    border: none;
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5rem;
  }

  #heart {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }


  /* Home */

  /* Form Selector */
  #formSelector {
    width: 18rem;; 
    height: 2rem;
    padding-left: 5px;
    margin-top: 70px;
    background-color: #154B10;
    color: white;
  }

  #formSelector option {
    font-size: 16px; 
  }

  .forms {
    flex-direction: column;
  }

  .styled-table,
  .entry-table,
  .activity-table,
  .measurements-table {
    min-width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .entry-table {
    margin-left: -5rem;
  }

  .styled-table {
    margin-bottom: 20px;
  }

  .measurements-table {
    margin-left: -5rem;
  }

  .styled-table th,
  .styled-table td,
  .entry-table th,
  .entry-table td,
  .activity-table th,
  .activity-table td,
  .measurements-table th,
  .measurements-table td {
    padding: 8px 10px;
  }

  li {
    margin-right: 12px;
  }
  
  .user {
    display: none;
  }

  /* About */

  h4 {
    font-size: 16px;
  }

  .about-info {
    font-size: 13px;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 12px;
  }

  .banner {
    display: none;
  }

  .bannerProfile {
    display: none;
  }

  h3 {
    margin-top: 45px;
  }

  .logout {
    display: inline-block;
    vertical-align: middle;
  }
  
  .logout a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    margin-top: 10px;
    text-decoration: none;
  }

  .map-image-container {
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .map-image {
    width: 30rem;
    border: 1px solid black;
    object-fit: cover;
    display: block;
    background-color: #eee;
    margin-left: -40px;
    margin-bottom: 5rem;
    border-radius: 10px; 
  }

  .forms p {
    margin-top: 50px;
  }

  .addform input[type="text"], 
  .addform input[type="password"],
  .addform input[type="email"] {
    margin-right: 120px; 
  }

  .addform label {
    display: inline-block;
    width: 50px; 
    text-align: center;
    margin-right: 170px;
  }

  .addform input[type="text"], 
  .addform input[type="password"],
  .addform input[type="email"] {
    margin-top: 5px; 
    margin-left: 25px;
  }


  form.addform {
    min-width: 100%;
    background-image: linear-gradient(
      45deg,
      #EEEEEE,
      #E0E0E0,
      #BDBDBD
    );
    color: black;
    margin-bottom: 100px;
    padding: 20px;
    margin-left: -30px;
  }

  .entry-form,
  .activity-form,
  .measurements-form {
    width: 300px; 
    margin-left: -30px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) { 


  /* Etusivu */

  h2 {
    margin-top: 3rem;
  }

  .form-container {
    margin-top: -5rem;
  }

  .info {
    background-color: white;
    padding: 5px;
    height: auto;
    max-height: 7rem;
    font-size: 18px;
    width: 90%; /* Muutettu, jotta leveys skaalautuu paremmin pienemmille näytöille */
    color: black;
    margin: 6rem auto 0; /* Yksinkertaistettu marginaalien asettelu */
  }

  main {
    width: 90%; /* Muutettu, jotta leveys skaalautuu paremmin pienemmille näytöille */
    height: 22rem;
    border: none;
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 8rem;
  }


  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }

  /* Home */

  .banner {
    width: 60%;
    height: 15rem;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
  }

  .banner img {
    margin-bottom: 50px;
  }

  .forms {
    display: flex;
    justify-content: center;
  }
  
  .styled-table,
  .entry-table,
  .activity-table,
  .measurements-table {
    min-width: auto;
    margin-top: 5rem;
    margin-bottom: auto;
    flex: unset;
  }
  
  h3#entries {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  h3#activities,
  h3#measurements {
    margin-top: 3rem;
    margin-bottom: -2rem;
  }
  
  .entry-table {
    min-width: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    flex: unset;
  }

  .measurements-table {
    margin-bottom: 100px;
  }
  
  .entry-form,
  .activity-form,
  .measurements-form {
    width: 300px; 
    margin-left: 2rem;
  }

  .updateMeasurement-form,
  .updateActivity-form,
  .updateEntry-form {
    margin-left: 2rem;
  }


  /* Form Selector */
  #formSelector,
  #updateFormSelector {
    width: 18rem;; 
    height: 2rem;
    padding-left: 5px;
    color: white;
  }
  
  .banner img {
    width: 100%;
  }

  /* Profile */

  .bannerProfile {
    width: 60%;
    height: 22rem;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: -10rem;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
  }
  
  .bannerProfile img {
    width: 100%;
    height: 22rem;
  }

  /* Navigaatiolista tyylittely */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(16, 21, 75);
    width: 100%;
    text-align: center;
    position: fixed; /* Kiinni yläpalkissa */
    top: 0; /* Kiinni yläpalkissa */
    left: 0; /* Kiinni reunoissa */
    right: 0; /* Kiinni reunoissa */
    height: 50px;
    z-index: 998; /* Alhainen z-indeksi */
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .user {
    font-size: 13px;
    font-weight: bold;
  }

  /* About */

  h4 {
    font-size: 30px;
    margin-top: -16rem;
  }

  .about-info {
    font-size: 20px;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .map-image-container {
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .map-image {
    width: 30rem;
    border: 1px solid black;
    object-fit: cover;
    display: block;
    background-color: #eee;
    margin-left: -40px;
    margin-bottom: 5rem;
    border-radius: 10px; 
  }

}