body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#show_joke {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Lisätty väliä yläpuolelle */
}

.button-container {
  margin-top: 20px; /* Lisätty väliä yläpuolelle */
  display: flex;
  justify-content: center;
  align-items: center;
}
